[submodule "playedu-api"]
	path = playedu-api
	url = https://github.com/PlayEdu/PlayEdu
[submodule "playedu-backend"]
	path = playedu-backend
	url = https://github.com/PlayEdu/backend
[submodule "playedu-h5"]
	path = playedu-h5
	url = https://github.com/PlayEdu/h5
[submodule "playedu-pc"]
	path = playedu-pc
	url = https://github.com/PlayEdu/frontend
